@import "variables";
input[type="text"] {
  height: 50px;
  font-size: 16px;

  transition: width 0.5s ease-in-out, font-size 0.5s ease-in-out;

  &:focus {
    width: 600px;
    font-size: $font-size-lg;
  }
  &::placeholder {
    text-align: center;
  }

}

input[type="text"], button {
  width: 350px;
}

.slider-input-container {
  display: flex;
  justify-content: center;
}

@import "variables";
span {
  background: $gradient-primary;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 3.4rem !important;
  margin-bottom: 1rem !important;
}